### Домашнее задание 1:

- Скачать файл в уроке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [150]:
import pandas as pd
# импорт библиотеки pandas, псевдоним pd

In [12]:
df = pd.read_csv('kc_house_data (2).csv',index_col = 'id')
# считывание данных с помощью pandas

In [13]:
df.head(5)
# вывод на экран первые 5 строк

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

 id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широтма
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

### Домашнее задание  2: 

- Проведите первичный анализ данных
- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [14]:
df.dtypes
# типы данных

date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [24]:
df.isna().sum()
# количество пропущенных ячеек в данных = 0

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [18]:
df.describe()
# основные статистики по всем признакам

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [23]:
df.describe(include=['object'])
# основные статистики по object

                   date
count             21613
unique              372
top     20140623T000000
freq                142

### Домашнее задание 3

#### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [121]:
df.sample(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7282900025,20140506T000000,250000.0,3,1.0,1050,6874,1.0,0,0,3,6,1050,0,1954,0,98133,47.7620,-122.355,1500,8954
6021503570,20140918T000000,525000.0,2,1.0,880,4000,1.0,0,0,3,7,880,0,1940,0,98117,47.6847,-122.387,1310,4000
8824900120,20140606T000000,739000.0,4,3.0,2720,3800,2.0,0,0,5,8,1800,920,1919,0,98115,47.6756,-122.306,1940,4001
3577300040,20150430T000000,510000.0,3,2.5,1830,8133,1.0,0,0,3,8,1390,440,1996,0,98028,47.7478,-122.247,2310,11522
5412100240,20141022T000000,340000.0,4,2.5,2550,7555,2.0,0,0,3,8,2550,0,2001,0,98001,47.2614,-122.290,2550,6800
5647000060,20141211T000000,344950.0,3,2.0,1330,7419,1.0,0,0,3,7,1330,0,1985,0,98034,47.7322,-122.236,1330,7297
8681660060,20140929T000000,503000.0,4,2.5,2470,5044,2.0,0,0,3,9,2470,0,2005,0,98155,47.7728,-122.271,2790,5583
7658600150,20140630T000000,435000.0,4,2.0,1880,3840,1.0,0,0,3,7,970,910,1904,0,98144,47.5929,-122.303,1670,1820
9206500250,20140909T000000,1104500.0,4,4.0,3770,8899,2.0,0,0,3,10,2940,830,2006,0,98074,47.6476,-122.079,3300,8308
2021069059,20140626T000000,254600.0,3,2.0,1470,20000,1.0,0,0,4,7,1470,0,1968,0,98002,47.2973,-122.080,1390,30056

In [31]:
df['price'].min(), df['price'].max()
# В диапазоне от 75000.0 до 7700000.0 изменяются стоимости недвижимости.

(75000.0, 7700000.0)

#### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [68]:
mean_sqft = df['sqft_living'].mean()
sum_sqt = df['sqft_living'].sum()
sum_sqft_lot = df['sqft_lot'].sum()

round((mean_sqft/sum_sqt)*100,3), round((mean_sqft/sum_sqft_lot)*100,4)

# В среднем жилая площадь занимает 0.005 % от всей жилой площади и 0.0006 от общей площади.

(0.005, 0.0006)

#### 3.3 Как много домов с разными этажами в данных?

In [70]:
df['floors'].nunique()
# 6 домов с разными этажами в данных.

6

#### 3.4 Насколько хорошие состояния у домов в данных?

In [73]:
round(df['condition'].mean(),1)
# оценка состояние домов в среднем 3.4 (оценка состояния от 1 до 5)

3.4

#### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [74]:
df['yr_built'].min(),df['yr_built'].max()
# первый дом построили в 1900,а последний дом построили в 2015 году в данных

(1900, 2015)

### Домашнее задание 4

#### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [103]:
round(df[df['bedrooms'] == 2]['price'].mean(),1)
# в среднем 401372.7 стоят дома, у которых 2 спальни.

401372.7

#### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [104]:
round(df[df['price'] > 600000.0]['sqft_lot'].mean(),1)
# в среднем 20442.5 кв.м., у которых стоимость больше 600 000

20442.5

#### 4.3 Как много домов коснулся ремонт?

In [113]:
df[df['yr_renovated'] != 0].shape[0]
# 914 домов коснулся ремонт

914

#### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [119]:
round((df[df['grade'] >10 ]['price'].mean()) - (df[df['grade'] < 4 ]['price'].mean()),2)

# Средняя цена с оценкой grade выше 10 = 1678635.1
# Средняя цена с оценкой grade меньше 4 = 189750
# В среднем стоимость домов отличается на 1488885.12

1488885.12

### Домашнее задание 5

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [132]:
new_house1 = df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]
new_house1.shape[0]
# дом с видом на набережную, как минимум с тремя ванными и с подвалом. 41 вариант есть у клиента.

41

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [144]:
new_house2 = df[(df['view'] == 4)|(df['waterfront'] == 1) & (df['condition'] == 5) & (df['yr_built'] >=1980)]
new_house2['price'].min(), new_house1['price'].max()
# дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и 
# год постройки не меньше 1980 года. В какой ценовом диапазоне от 252000.0 до 6885000.0.

(252000.0, 6885000.0)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [149]:
new_house3 = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]
new_house3['condition'].mean()
# дом без подвала, с двумя этажами, стоимостью до 150000. Оценка по состоянию у таких домов в среднем 3.0

3.0